/* HomePage.css */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .ch{
    display: flex;
    font-size: 20px;
    color: black;
    justify-content: center;
  }
  header {
    height: 100px;
    width: 100% ;
    background-color: azure;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav ul {
    list-style-type: none;
    display: flex;
  }
  nav ul li img{
    height: 79px;
    display: flex;
  }
  /* nav ul li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  } */
  .nav-item{
    color: black;
    text-decoration: none;
  }
  .hero 
  {
    text-align: center;
    padding: 50px;
  }
  .hero img{
    width: 100%;
  }
  
  .about,
  .featured-products,
  .services,
  .testimonials,
  .contact {
    padding: 30px;
  }
  
  footer {
    background: linear-gradient(aqua,rgb(251, 255, 0),rgb(237, 33, 33));
    color:black;
    padding: 10px;
    text-align: center;
  }
  
 .foot {
    list-style-type: none;
    display: flex;
    justify-content: center;
  
  }
  .footleft {
   font-size: 10px;
  }
  .footright{
    text-align: left;
    font-size: 15px;
    display: block;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: var(--font-beb-rg);
  }
 .ser{
  height: 100px;
 }
 .body1{
  background-color: antiquewhite ;
 }

 html{
  width: 100%;
  height: 100px;
 }
 body{
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
 }
 #root{
  width: 100%;
  height: 100px;
 }